.container-fluid{
    max-width: 80%;
}

.padding-sml{
    padding: 5px;
}

.padding-nrm{
    padding: 10px;
}

.padding-lrg{
    padding: 15px;
}
.padding-lrg-2{
    padding: 25px;
}





/* MAIN NAV*/

nav.navbar-default{
    background-color: white;
    max-width: 80%;
    margin: auto;
}

nav.navbar-default > div{
    background-color: #383838;
    border-radius: 6px;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}

.navbar-default .navbar-nav > .active > a{
    background-color: #B81D22;
    color:white;
}

.main-nav .nav > li > a{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px ridge #585858;
    text-transform: uppercase;
    font-size: 13px;
}

.main-nav .navbar{
    border: 0px;
}


/* MAIN NAV END*/